<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <!-- Nav -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Content Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">
            <i class="bi bi-house"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/all-products']" routerLinkActive="active">
            <i class="bi bi-box"></i> Check Products on Offer!
          </a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <a [routerLink]="['/login']" class="btn btn-primary btn-sm me-3">Sign in</a>
        <a [routerLink]="['/register']" class="btn btn-primary btn-sm me-3">Register For Free</a>
      </div>
    </div>
  </div>
</nav>


