<div class="main-title text-center py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <div class="intro-excerpt text-white">
          <h1 class="display-4">Modern Products<br><span class="d-block">Find The Best Mobile Phones And Accessories!</span></h1>
          <p class="lead mb-4">
            Explore our wide selection of cutting-edge mobile phones and high-quality accessories. Find the perfect device for your lifestyle.
          </p>
          <div>
            <a [routerLink]="['/catalog']" class="btn btn-outline-light me-2">See Catalog</a>
            <a [routerLink]="['/accessories']" class="btn btn-outline-light">Explore Accessories</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="main-img">
          <img [ngSrc]="'assets/images/main-img.png'" width="350" height="211" class="img-fluid rounded shadow" alt="couch-img">
        </div>
      </div>
    </div>
  </div>
</div>
