<div class="container">
  <div class="row">
    <div class="col col-lg-6 offset-lg-3">

      <form (ngSubmit)="register()" autocomplete="off">
        <h1 class="display-4 m-2 text-center"><span class="text-success fw-bold">Registration</span> </h1>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text"
                 class="form-control"
                 id="username"
                 name="username"
                 [(ngModel)]="user.username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 name="password"
                 [(ngModel)]="user.password">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 [(ngModel)]="user.email">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>

    </div>
  </div>
</div>
