<div class="container">
  <div class="row">
    <div class="col col-lg-6 offset-lg-3">

      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text"
                 class="form-control form-control-lg"
                 id="username"
                 name="username"
                 [(ngModel)]="user.username">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password"
                 class="form-control form-control-lg"
                 id="password"
                 name="password"
                 [(ngModel)]="user.password">
        </div>

        <button type="submit"
                class="btn btn-danger">Login
        </button>
      </form>

      <div *ngIf="error" class="alert alert-danger mt-3">
        {{ error }}
      </div>
    </div>
  </div>
</div>
