<div class="container">
  <div class="row">
    <div class="col col-lg-6 offset-lg-3">

      <form (ngSubmit)="login()" autocomplete="off">
        <h1 class="display-4 m-2 text-center"><span class="text-success fw-bold">Login</span> </h1>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text"
                 class="form-control form-control-lg"
                 id="username"
                 name="username"
                 [(ngModel)]="user.username"
                 required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password"
                 class="form-control form-control-lg"
                 id="password"
                 name="password"
                 [(ngModel)]="user.password"
                 required>
        </div>

        <button type="submit"
                class="btn btn-danger btn-lg btn-block">Login</button>

        <div class="text-center mt-3">
          <a href="#">Forgot Password?</a>
        </div>

      </form>

    </div>
  </div>
</div>
